$blue: #0050d0 !default;

@import 'bootstrap/bootstrap';


a {
    &:focus,
    &:hover {
        text-decoration:underline;
    }
}

#container_header {
    img {
        width: 100%;
        max-width:70px;
        height: auto;
    }
}

.container_ects {
    max-height:0;
    overflow-y: hidden;

    transition: max-height 500ms ease-in-out;

    &.open {
        max-height:8000px;
    }
}

.privateEducations {
    list-style-type: none;

    li {
        position:relative;

        &:before {
            position:absolute;
            content:'';
            top:5px;
            right:15px;
            width:20px;
            height:20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size:contain;
            z-index:5;
        }
        &.typePodcast {
            &:before {
                background-image: url('../img/icons/podcast.svg');
            }
        }
        &.typeBuch {
            &:before {
                background-image: url('../img/icons/book.svg');
            }
        }
        &.typeVideos {
            &:before {
                background-image: url('../img/icons/video.svg');
            }
        }
        &.typeWebsite {
            &:before {
                background-image: url('../img/icons/web.svg');
            }
        }

        &>div {
            position: relative;

            img {
                width: 100%;
                height: auto;
            }

            .text {
                font-size: 0.75rem;
                opacity: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 0.5rem 1rem;
                background: rgba(#000, 0.9);
                color: #fff;

                transition: opacity 500ms ease-in-out, font-size 500ms ease-in-out, padding 500ms ease-in-out;
            }
        }

        &:hover>div,
        &>div a:hover,
        &>div a:focus {
            .text {
                opacity: 1;
                font-size: 1rem;
                padding: 1rem 1rem;
            }
        }
    }
}

#container_footer {
    ul {
        list-style-type: none;

        li {
            margin:0 0 0 20px;
            padding:0;
        }
    }
}